.UserInfo{
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 30px;
}

.icon-back{
    width: 90%;
    height: 30px;
    margin-left: 5%;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
}

.backLink{
    text-decoration: none;
    color: black;
    font-size: 22px;
}